{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">

<p><h5>{{question_number}}. {{ question.question_text }}</h5></p>

{% if error_message %}<strong><p class="text-danger">{{ error_message }}</p></strong>{% endif %}

<form action="{% url 'quiz:check_answer' question.quiz.id question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}

{% buttons %}
    <button type="submit" class="btn btn-primary">Check Answer</button>
{% endbuttons %}
</form>

</div>
{% endblock %}